
# Backend / .NET
.vs/
bin/
obj/
*.user
*.suo
*.rsuser

# Local ASP.NET settings
appsettings.Development.json

# Frontend / React
node_modules/
dist/
.env
.env.local

# Logs
*.log

# Windows
Thumbs.db